snippet snip "A snippet for new snippet - inception, bro!"
snippet ${1} "${2}"
    ${3}
\endsnippet
endsnippet

snippet /** "Docblock style comment"
/**
 * ${1:description}
 *
 * ${2:details}
 */
endsnippet
