snippet html "HTML 5 boilerplate."
<!DOCTYPE html>
<html>
<head>
    <title>${1:Some title}</title>
</head>
<body>
    ${2}
</body>
</html>
endsnippet

snippet link "Link element."
<link rel="stylesheet" href="${1:href}" type="text/css">
endsnippet
